@font-face {
  font-family: outfit;
  src: url(/assets/fonts/outfit/static/Outfit-Regular.ttf);
}
@font-face {
  font-family: youngserif;
  src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: outfit;
}
body {
  font-size: 16px;
  color: hsl(30, 10%, 34%);
  background: hsl(30, 54%, 90%);
  margin: 0;
  padding: 0;
}

.wrapper {
  background: hsl(0, 0%, 100%);
  border-radius: 20px;
  width: 50%;
  height: auto;
  margin: 0 auto;
  margin-block: 8rem;
  padding: 1em;
  display: flex;
  flex-flow: column;
}
.container {
  background: hsl(0, 0%, 100%);
  width: 93%;
  display: block;
  margin-inline: auto;
  margin-top: 1.5rem;
}
img {
  border-radius: 20px;
  width: 100%;
  margin-bottom: 1rem;
}

h1 {
  color: hsl(24, 5%, 18%);
  font-size: 45px;
  margin-bottom: 0;
}
h2 {
  color: hsl(14, 45%, 36%);
  font-size: 32px;
  font-family: youngserif;
  margin-bottom: 0;
}
h3 {
  color: hsl(332, 51%, 32%);
  margin-bottom: 0;
}
ul {
  padding: 0rem 1.2rem;
}
li {
  margin: 10px 0;
}
li::marker {
  font-size: 12px;
}
hr {
  background-color: hsl(30, 18%, 87%);
  margin: 0 auto;
  width: 100%;
}
span {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

.preparation {
  border-radius: 20px;
  background: hsl(330, 100%, 98%);
  padding: 0.5rem 1.5rem;
}
.preparation li::marker {
  color: hsl(332, 51%, 32%);
}

.ingredients li::marker {
  color: hsl(14, 45%, 36%);
}

.instructions ol {
  padding: 0rem 1.5rem;
}
.instructions li {
  padding-left: 15px;
}
.instructions li::marker {
  color: hsl(14, 45%, 36%);
  font-size: 16px;
  font-weight: bold;
}

.nutrition ul {
  list-style: none;
  padding: 0;
}
.nutrition ul li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding: 0.5rem 0;
}
.nutrition ul li:last-child {
  border-bottom: none;
}
